n8n/kahu-workflow.json
{
  "name": "Kahu — Plan Nutricional PDF + Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kahu-plan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.ingredientes }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-node",
      "name": "Tiene datos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst fecha = new Date(body.fecha).toLocaleDateString('es-ES', {\n  day: 'numeric', month: 'long', year: 'numeric'\n});\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: Arial, sans-serif; padding: 40px; color: #2d3a1f; }\n    h1 { color: #4a7c59; font-size: 28px; margin-bottom: 4px; }\n    .subtitle { color: #7a8c6a; font-size: 14px; margin-bottom: 32px; }\n    .section { background: #f5f0e8; border-radius: 12px; padding: 20px; margin-bottom: 20px; }\n    .section h2 { font-size: 16px; color: #4a7c59; margin: 0 0 12px; }\n    .section p { margin: 0; font-size: 14px; line-height: 1.6; }\n    .kcal { font-size: 32px; font-weight: bold; color: #4a7c59; }\n    .footer { margin-top: 40px; font-size: 12px; color: #999; text-align: center; }\n  </style>\n</head>\n<body>\n  <h1>🐾 Plan Nutricional Kahu</h1>\n  <div class=\"subtitle\">Generado el ${fecha} · ${body.mascota_nombre || 'Tu mascota'}</div>\n\n  <div class=\"section\">\n    <h2>Calorías totales</h2>\n    <span class=\"kcal\">${Math.round(body.calorias_total)} kcal</span>\n  </div>\n\n  <div class=\"section\">\n    <h2>Ingredientes</h2>\n    <p>${body.ingredientes}</p>\n  </div>\n\n  <div class=\"section\">\n    <h2>Proporciones</h2>\n    <p>${body.proporciones}</p>\n  </div>\n\n  ${body.notas_ia ? `\n  <div class=\"section\">\n    <h2>Notas del asistente IA</h2>\n    <p>${body.notas_ia}</p>\n  </div>` : ''}\n\n  <div class=\"footer\">Generado por Kahu · kahuappcontact@gmail.com</div>\n</body>\n</html>\n`;\n\nreturn [{ json: { html, body } }];"
      },
      "id": "code-node",
      "name": "Generar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 220]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "headerTemplate": " ",
          "footerTemplate": " ",
          "printBackground": true
        },
        "sourceData": "={{ $json.html }}"
      },
      "id": "html-to-pdf",
      "name": "HTML a PDF",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Generar HTML').item.json.body.usuario_email }}",
        "subject": "🐾 Tu plan nutricional Kahu está listo",
        "emailType": "html",
        "message": "<p>Hola,</p><p>Tu plan nutricional para <strong>{{ $('Generar HTML').item.json.body.mascota_nombre }}</strong> ha sido generado por Kahu.</p><p>Encontrarás el plan completo adjunto en PDF.</p><br><p>Un saludo,<br>El equipo de Kahu 🐾</p>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [{}]
          }
        }
      },
      "id": "gmail-node",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1120, 220],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail kahuappcontact"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"message\": \"Email enviado correctamente\" }"
      },
      "id": "response-ok",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"message\": \"Plan sin datos\" }"
      },
      "id": "response-error",
      "name": "Respuesta Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Tiene datos?", "type": "main", "index": 0 }]]
    },
    "Tiene datos?": {
      "main": [
        [{ "node": "Generar HTML", "type": "main", "index": 0 }],
        [{ "node": "Respuesta Error", "type": "main", "index": 0 }]
      ]
    },
    "Generar HTML": {
      "main": [[{ "node": "HTML a PDF", "type": "main", "index": 0 }]]
    },
    "HTML a PDF": {
      "main": [[{ "node": "Enviar Email", "type": "main", "index": 0 }]]
    },
    "Enviar Email": {
      "main": [[{ "node": "Respuesta OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
